* {
  outline: 0;
  margin: 0;
  border: 0;
  padding: 0;
}

.login {
  background-image: linear-gradient(45deg, lightblue, lightcoral);
  width: 100%;
  height: 100vh;
  background-position: center;
  position: relative;
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
  border-radius: 8px;
  transition: all 1s ease;
}
.login-box:hover {
  box-shadow: 0 0 10px gray;
  transition: all 1s ease;
}
.login-box input {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 1000;
  font-style: italic;
  background-color: transparent;
  border-bottom: 1px solid gainsboro;
  transition: all 0.5s ease;
}
.login-box input:hover {
  border-bottom: 1px solid gray;
  transition: all 0.5s ease;
}
.login-box input:focus {
  border-bottom: 1px solid green;
  transition: all 1s;
}
.login-box button {
  border-radius: 8px;
  padding: 16px 32px;
  cursor: pointer;
  background-image: linear-gradient(45deg, lightcoral, lightblue);
  font-size: 20px;
  font-weight: 500;
  color: white;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}
.login-box button:not(:hover)::after {
  border-radius: 8px;
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 10;
  transition: all 1s;
}
.login-box button:hover::after {
  border-radius: 8px;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 10;
  transition: all 1s;
}

.dashboard {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  animation: color 10s infinite alternate linear;
}
@keyframes color {
  0% {
    background-color: rgb(255, 0, 0);
  }
  50% {
    background-color: rgb(0, 255, 0);
  }
  100% {
    background-color: rgb(0, 0, 255);
  }
}
@keyframes text {
  0% {
    color: rgb(255, 0, 0);
    font-size: 70px;
  }
  50% {
    color: rgb(0, 255, 0);
    font-size: 80px;
  }
  100% {
    color: rgb(0, 0, 255);
    font-size: 90px;
  }
}
.dashboard h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: 1000;
  text-shadow: 0 0 20px black;
  animation: text 10s infinite alternate-reverse linear;
}
